<aside class="sidebar">
  <div class="sidebar-header">
    <h2>Employee Management</h2>
  </div>
  <ul class="sidebar-menu">
    <li>
      <a class="active" routerLink="/dashboard">
        <span>Dashboard</span>
      </a>
    </li>
    <li>
      <a routerLink="/employee">
        <span>Employees</span>
      </a>
    </li>
    <li>
      <a routerLink="/dashboard">
        <span>Departments</span>
      </a>
    </li>
    <li>
      <a routerLink="/dashboard">
        <span>Reports</span>
      </a>
    </li>
  </ul>
</aside>

<main class="main-content">
  <router-outlet></router-outlet>
</main>
